<!DOCTYPE html>
<html>
<head>
<title>Casey Smith's Schedule</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" 
      href="jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" 
        src="jquery-2.2.4.min.js">
</script>
<script type="text/javascript" 
        src="jquery.mobile-1.4.5.min.js">
</script>
</head>


<body>

<div data-role="page">

	<div data-role="header">
		<h1>Casey Smith's Schedule</h1>
	</div>
	
	<div role="main" class="ui-content">
		<ul data-role="listview">
		  <li><a href="courses.html">Courses</a></li>
      <li><a href="faculty.html">Faculty</a></li>
		  <li><a href="su.html">Salisbury University</a></li>
      <li><a href="note.html">Course Task List</a></li>
      <li><a href="responsive.html">Outside of The Classroom</a></li>
		</ul>
	</div>

	<div data-role="footer">
	 <h4>Spring 2017</h4>
	</div>
		
</div>

</body>
</html>
